h1{
    background:white;
    color: black;
    height: 90px;
    width: 1100px;
    text-align: center;
    margin: auto;
    padding-top: 38px;
    margin-top: 20px;
    border: 5px solid red;
}
body{
    background:grey;
}
h2{
    background: yellow;
    color: rgb(25, 4, 4);
    height: 50px;
    width: 1100px;
    text-align: center;
    padding-top: 30px;
    border: 5px solid black;
    margin: auto;
    margin-top: 200px;
}
#result{
    color: black;
    background: white;
    height: 50px;
    width: 380px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    border: 5px solid black;
    margin-top: 160px;
    
}